<!--Partials/home.html-->
<div class="well">
    <h1>AngularJS + HighChart</h1>
    <p>Effective data visualization helps users in analyzing and reasoning about data and evidence. It makes complex data more accessible, understandable and usable. </p>
    <p>This training session will integrate <span class="text-danger">AngularJs</span> and <span class="text-danger">Highchart</span> to provide data visualization.</p>

    <a ui-sref="01_basicchart" class="btn btn-primary"><i class="fa fa-2x fa-bar-chart"></i> Basic Chart</a>
    <a ui-sref="02_chartinteract" class="btn btn-success"><i class="fa fa-2x fa-line-chart"></i> Chart Interaction</a>
    <a ui-sref="03_chartintegration" class="btn btn-danger"><i class="fa fa-2x fa-pie-chart"></i> Chart Integration</a>
</div>



