<div>
    <h2>View 1</h2>
    Name:
    <br />
    <input type="text" ng-model="vm.nameToFilter" /> {{vm.nameToFilter}}
    <br />
    <ul>
        <li ng-repeat="customer in vm.customers | filter:vm.nameToFilter | orderBy:'city'">
            {{customer.name | uppercase}} - {{customer.city | lowercase}}
        </li>
    </ul>
    <br/>
    New Customer Name:
    <br/>
    <input type="text" ng-model="vm.newCustomer.name"/>
    <br/>
    New Customer City:
    <br/>
    <input type="text" ng-model="vm.newCustomer.city"/>
    <br/>
    <button ng-click="addCustomer()">Add New Customer</button>
    <br/>
    <a href="#/view2">View 2</a>
</div>