<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\..\..\..\temp\SignalR\SignalR2_GetStarted\SignalR2_GetStarted\packages.config" />
  <repository path="..\..\..\..\..\temp\SignalR\SignalR2_GetStarted\SignalR2_MVC5\packages.config" />
  <repository path="..\..\..\..\..\temp\SignalR\SignalR2_GetStarted\SignalR2ServerBroadcast\packages.config" />
  <repository path="..\src\PracticalCoding.Web\packages.config" />
</repositories>