<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="">
<head>
    <title>Using AngularJS Directives and Data Binding</title>
</head>
<body ng-init="vm.customers=[{name:'John Smith', city:'Phoenix'}
      , {name:'John Doe', city:'New York'}, {name:'Jane Doe', city:'San Francisco'}]">
    Name:
    <br/>
    <input type="text" ng-model="vm.nameToFilter"/> {{vm.nameToFilter}}
    <br/>
    <ul>
        <li ng-repeat="customer in vm.customers | filter:vm.nameToFilter | orderBy:'city'">
            {{customer.name | uppercase}} - {{customer.city | lowercase}}
        </li>
    </ul>
    <script src="../../Scripts/angular/angular.js"></script>
</body>
</html>



