<!--Partials/01_basicchart-a-main.html-->
<div class="well text-center">
    <p>This page demonstrates couple basic charts using <span class="text-danger">Highcharts</span>.
    </p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading text-center"><i class="fa fa-line-chart"></i> Basic Line</div>
            <div class="panel-body">
                <div ui-view="01_basicLine"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-success">
            <div class="panel-heading text-center"><i class="fa fa-area-chart"></i> Basic Area</div>
            <div class="panel-body">
                <div ui-view="01_basicArea"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-danger">
            <div class="panel-heading text-center"><i class="fa fa-bar-chart"></i> Basic Bar</div>
            <div class="panel-body">
                <div ui-view="01_basicBar"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-danger">
            <div class="panel-heading text-center"><i class="fa fa-bar-chart"></i> Basic Column</div>
            <div class="panel-body">
                <div ui-view="01_basicColumn"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading text-center"><i class="fa fa-pie-chart"></i> Basic Pie</div>
            <div class="panel-body">
                <div ui-view="01_basicPie"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading text-center"><i class="fa fa-pie-chart"></i> Basic Donut</div>
            <div class="panel-body">
                <div ui-view="01_basicDonut"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading text-center"><i class="fa fa-line-chart"></i> Scatter Plot</div>
            <div class="panel-body">
                <div ui-view="01_scatterPlot"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-warning">
            <div class="panel-heading text-center"><i class="fa fa-line-chart"></i> Bubble Chart</div>
            <div class="panel-body">
                <div ui-view="01_bubbleChart"></div>
            </div>
        </div>
    </div>
</div>
