<div class="row">
    <div class="col-sm-12">
        <highchart config="chartConfig"></highchart>
    </div>
    <div class="col-sm-12 text-center">
        <span class="text-center">分數: {{vm.score}} 分</span>
    </div>
    <div class="col-sm-12 text-center">
        <span class="text-center">燈號: {{vm.light}}</span>
    </div>
    <div class="col-sm-12 text-center">
        <span class="text-center">意義: {{vm.meaning}}</span>
    </div>
    <div class="col-sm-12 text-center">
        <span class="text-center">日期: {{vm.period}}</span>
    </div>
</div>